# Steam Web API Key (Get from https://steamcommunity.com/dev/apikey)
STEAM_API_KEY=

# Steam 64-bit ID (Find using https://steamid.io)
STEAM_ID=

# Steam Language: 'ukrainian', 'english' or 'russian' (default is 'ukrainian')
STEAM_LANGUAGE=ukrainian
